html{
    scroll-behavior: smooth;
}

body{
    background: hsla(209, 52%, 31%, 1);
    background: linear-gradient(180deg, hsla(209, 52%, 31%, 1) 23%, hsla(203, 49%, 23%, 1) 58%, hsla(210, 94%, 13%, 1) 94%);
    background: -moz-linear-gradient(180deg, hsla(209, 52%, 31%, 1) 23%, hsla(203, 49%, 23%, 1) 58%, hsla(210, 94%, 13%, 1) 94%);
    background: -webkit-linear-gradient(180deg, hsla(209, 52%, 31%, 1) 23%, hsla(203, 49%, 23%, 1) 58%, hsla(210, 94%, 13%, 1) 94%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#265077", endColorstr="#1E4258", GradientType=1 );
}

.cardsAuthors{
    display: flex;
    text-align: center;
    justify-content: center;
}

#firstSection{
    text-align: left;
}

#secondSection{
    text-align: left;
}

#titleBold{
    font-weight: bolder;
}

.container{
    font-family: 'Chakra Petch', sans-serif;
}

.btn{
    background: rgba(79, 142, 201, 0.973);
    border-color: #ffffff00;
    border-width: 1px;
    border-style: solid;
    border-radius: 25x;
    font-family: 'Chakra Petch', sans-serif;
}
.navbar{
    background: rgba(255, 255, 255, 0.26);
    backdrop-filter: saturate(120%);
}

.container-fluid{
    background: transparent;
}

.navbar-brand{
    margin-top: 18px;
    margin-bottom: 18px;
    margin-left: 293px;
    font-family: 'Chakra Petch', sans-serif;
}

.navbar-nav {
    margin-left: 100px; /* Ajusta el margen a la izquierda */
}

.nav-link {
    margin-right: 10px; /* Ajusta el espaciado entre los navlinks */
}



.center{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajusta la altura según tu diseño */
}

.firstCircle{
    position: absolute;
    width: 850px;
    height: 850px;
    border-radius: 50%;
    background-color: #03045e;
    border: 3px solid white;
}

.firstCircle:hover{
    width: 878px;
    height: 878px;
    transition: width 0.5s, height 0.5s;
}

.secondCircle{
    position: absolute;
    width: 700px;
    height: 700px;
    border-radius: 50%;
    background-color: #0077b6;
    border: 3px solid rgb(255, 255, 255);
}

.secondCircle:hover{
    width: 728px;
    height: 728px;
    transition: width 0.5s, height 0.5s;
}

.thirdCircle{
    position: absolute;
    width: 550px;
    height: 550px;
    border-radius: 50%;
    background-color: #00b4d8;
    border: 3px solid white;
}

.thirdCircle:hover{
    width: 578px;
    height: 578px;
    transition: width 0.5s, height 0.5s;
}

.fourCircle{
    position: absolute;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: #90e0ef;
    border: 3px solid white;

}

.fourCircle:hover{
    width: 428px;
    height: 428px;
    transition: width 0.5s, height 0.5s;
}

.fiveCircle{
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: #caf0f8;
    border: 3px solid white;
}

.fiveCircle:hover{
    width: 278px;
    height: 278px;
    transition: width 0.5s, height 0.5s;
}

.sixCircle{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 3px solid white;
}

.sixCircle:hover{
    width: 128px;
    height: 128px;
    transition: width 0.5s, height 0.5s;
}

.firstDivider{
    position: absolute;
    left: 53.6%;
    right: 18%;
    top: 50%; /* Ajusta la posición vertical de la línea */
    bottom: 0%;
    height: 2px; /* Altura de la línea */
    background-color: white; /* Color de la línea */
}

.secondDivider{
    position: absolute;
    left: 18%;
    right: 53.6%;
    top: 50%; /* Ajusta la posición vertical de la línea */
    bottom: 0%;
    height: 2px; /* Altura de la línea */
    background-color: white; /* Color de la línea */
}

.thirdDivider{
    position: absolute;
    width: 376px; /* Ancho de la línea */
    height: 2px; /* Altura de la línea */
    background-color: white; /* Color de la línea */
    transform: rotate(-55deg); /* Ajuste de la posición y rotación */
    left: 46%;
    right: 0%;
    bottom: 0%;
    top: 29.2%;
}

.fourDivider{
    position: absolute;
    width: 376px; /* Ancho de la línea */
    height: 2px; /* Altura de la línea */
    background-color: white; /* Color de la línea */
    transform: rotate(-55deg); /* Ajuste de la posición y rotación */
    left: 25.6%;
    right: 0%;
    bottom: 0%;
    top: 70.7%;
}

.fiveDivider{
    position: absolute;
    width: 376px; /* Ancho de la línea */
    height: 2px; /* Altura de la línea */
    background-color: white; /* Color de la línea */
    transform: rotate(55deg); /* Ajuste de la posición y rotación */
    left: 25.6%;
    right: 0%;
    bottom: 0%;
    top: 29.2%;
}

.sixDivider{
    position: absolute;
    width: 376px; /* Ancho de la línea */
    height: 2px; /* Altura de la línea */
    background-color: white; /* Color de la línea */
    transform: rotate(55deg); /* Ajuste de la posición y rotación */
    left: 46%;
    right: 0%;
    bottom: 0%;
    top: 70.7%;
}

.original_border_left{
    width: 280px;
    height: 100px;
    border-top-width: 120px;
    border-top: 5px double #000000;
    border-left: 5px double #000000;

}

.original_border_rigth{
    width: 280px;
    height: 100px;
    border-top-width: 120px;
    border-top: 5px double #000000;
    border-right: 5px double #000000;

}


.titleCircle_1{
    position: absolute;
    padding-top: 2.5px;
    padding-left: 5px;
    width: 14%; /* Ancho de la línea */
    height: 6%; /* Altura de la línea */
    left: 45%;
    right: 0%;
    top: -3.5% ;
    bottom: 5%;

}

.titleCircle_2{
    position: absolute;
    padding-top: 10px;
    padding-left: 5px;
    width: 12%; /* Ancho de la línea */
    height: 6%; /* Altura de la línea */
    left: 82%;
    right: 0%;
    top: 23%;
    bottom: 5%;
}

.titleCircle_3{
    position: absolute;
    text-align: right;
    padding-top: 5px;
    padding-right: 15px;
    width: 12%; /* Ancho de la línea */
    height: 6%; /* Altura de la línea */
    left: 5%;
    right: 0%;
    top: 23%;
    bottom: 5%;
}

.titleCircle_4{
    position: absolute;
    padding-top: 5px;
    padding-left: 5px;
    width: 17%; /* Ancho de la línea */
    height: 6%; /* Altura de la línea */
    left: 82%;
    right: 0%;
    top: 70%;
    bottom: 5%;
}
.titleCircle_5{
    position: absolute;
    padding-top: 2.5px;
    padding-left: 5px;
    width: 9%; /* Ancho de la línea */
    height: 6%; /* Altura de la línea */
    left: 45%;
    right: 0%;
    top: 98% ;
    bottom: 5%;
}
.titleCircle_6{
    position: absolute;
    text-align: right;
    padding-top: 5px;
    padding-right: 15px;
    width: 9%; /* Ancho de la línea */
    height: 6%; /* Altura de la línea */
    left: 9%;
    right: 0%;
    top: 70%;
    bottom: 5%;
}



.numberCircle {
    font: 32px Arial, sans-serif;
    width: 2em;
    height: 2em;
    box-sizing: initial;
    background: #fff;
    border: 0.1em solid #666;
    color: #666;
    text-align: center;
    border-radius: 50%;
    line-height: 2em;
    box-sizing: content-box;
}

.miniCircle_1{
    width: 10px;
    height: 10px;
    background-color: rgb(0, 29, 190);
    border-radius: 50%;
    position: relative;
    top: 100px;
    left: 30px;
    transition: transform 0.3s;
    cursor: pointer;
}

.miniCircle_1:hover {
    transform: scale(3);
  }

.miniCircle_1:hover .number{
    opacity: 1;
}

.miniCircle_2{
    width: 10px;
    height: 10px;
    background-color: rgb(0, 29, 190);
    border-radius: 50%;
    position: relative;
    top: 90px;
    left: 15px;
    transition: transform 0.3s;
    cursor: pointer;
}

.miniCircle_2:hover {
    transform: scale(3);
  }

.miniCircle_2:hover .number{
    opacity: 1;
}

.miniCircle_3{
    width: 10px;
    height: 10px;
    background-color: rgb(0, 29, 190);
    border-radius: 50%;
    position: relative;
    top: 60px;
    left: 20px;
    transition: transform 0.3s;
    cursor: pointer;
}

.miniCircle_3:hover {
    transform: scale(3);
}

.miniCircle_3:hover .number{
    opacity: 1;
}

.miniCircle_4{
    width: 10px;
    height: 10px;
    background-color: rgb(0, 29, 190);
    border-radius: 50%;
    position: relative;
    top: 40px;
    left: 40px;
    transition: transform 0.3s;
    cursor: pointer;
}

.miniCircle_4:hover {
    transform: scale(3);
}

.miniCircle_4:hover .number{
    opacity: 1;
}

.miniCircle_5{
    width: 10px;
    height: 10px;
    background-color: rgb(0, 29, 190);
    border-radius: 50%;
    position: relative;
    top: 15px;
    left: 55px;
    transition: transform 0.3s;
    cursor: pointer;
}

.miniCircle_5:hover {
    transform: scale(3);
}

.miniCircle_5:hover .number{
    opacity: 1;
}

.miniCircle_6{
    width: 10px;
    height: 10px;
    background-color: rgb(0, 29, 190);
    border-radius: 50%;
    position: relative;
    top: 5px;
    left: 40px;
    transition: transform 0.3s;
    cursor: pointer;
}

.miniCircle_6:hover {
    transform: scale(3);
}

.miniCircle_6:hover .number{
    opacity: 1;
}

.miniCircle_7{
    width: 10px;
    height: 10px;
    background-color: rgb(0, 29, 190);
    border-radius: 50%;
    position: relative;
    top: 30px;
    left: 50px;
    transition: transform 0.3s;
    cursor: pointer;
}

.miniCircle_7:hover {
    transform: scale(3);
}

.miniCircle_7:hover .number{
    opacity: 1;
}

.miniCircle_8{
    width: 10px;
    height: 10px;
    background-color: rgb(0, 29, 190);
    border-radius: 50%;
    position: relative;
    top: 10px;
    left: 60px;
    transition: transform 0.3s;
    cursor: pointer;
}

.miniCircle_8:hover {
    transform: scale(3);
}

.miniCircle_8:hover .number{
    opacity: 1;
}



.number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5px;
    color: white;
    opacity: 0;
    transition: opacity 0.3s;
  }

.badge {
    position: absolute;
    top: 10px;
    left: 50%;
    font-size: 10px;
    transform: translateX(-50%);
    background-color: #363636;
    padding: 0px 0px;
    border-radius: 4px;
    font-weight: bold;
}


/* FOOTER */
footer{
    display: flex;
    background: rgba(255, 255, 255, 0.26);
    backdrop-filter: saturate(110%);
    font-family: 'Chakra Petch', sans-serif;
    text-align: center;
    justify-content: center;
    padding-right: 100px;
}
.logos a {
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    transition: transform 0.3s;
  }
.logos a:hover {
    transform: translateY(-10px);
  }
/* ///FOOTER */



